<!DOCTYPE html>
<html lang="en" ng-app="form-ui-examples">
<head>
    <title>angular-form-ui Examples</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="selectBox.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    <script src="../../angular-form-ui.js"></script>
    <script src="selectBox.js"></script>
    <script type="text/javascript">
        angular.module('form-ui-examples', ['angular-form-ui']).

            controller('ExampleController', function ($scope) {
                    $scope.options = [{
                        name: 'Blue',
                        hexCode: '#0000ff'
                    },{
                        name: 'Red',
                        hexCode: '#C41A16'
                    },{
                        name: 'Purple',
                        hexCode: '#AA0D91'
                    }];
                    $scope.selectedValue;
                });
    </script>
    <style type="text/css">
        .divider { height: 40px; }
        .directive:not(.first) { margin-top: 2em;}
    </style>
</head>
<body ng-controller="ExampleController">
<div class='container'>
    <div class="row">
        <div class="col-md-12">
            <h3 class='directive'>selectBox</h3>
            <p>Fancy select dropdown</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 highlight">
            <pre>//javascript
controller('ExampleController', function ($scope) {
    $scope.options = [{
        name: 'Blue',
        hexCode: '#0000ff'
    },{
        name: 'Red',
        hexCode: '#C41A16'
    },{
        name: 'Purple',
        hexCode: '#AA0D91'
    }];
    $scope.selectedValue;
});

//html
&lt;select-box ng-model="selectedValue" optExp="t.name for t in options"&gt;&lt;/select-box&gt;</pre>
        </div>
        <div class="col-md-3">
            <div style="background-color: {{ selectedValue.hexCode }}; color: #fff; text-align: center; padding: 2px">{{ selectedValue.hexCode }}</div><br/>
            <select-box ng-model="selectedValue" optExp="t.name for t in options"></select-box>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-9">
            <p>You can use the <code>defaultLabel</code> attribute to define a default label before any values are selected</p>
            <pre>&lt;select-box ng-model="selectedValue" optExp="t.name for t in options" defaultLabel="Select One"&gt;&lt;/select-box&gt;</pre>
        </div>
        <div class="col-md-3">
            <select-box ng-model="selectedValue" optExp="t.name for t in options" defaultLabel="Select One"></select-box>
        </div>
    </div>
</div>
</body>
</html>