.ngSelectBox {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    overflow: hidden;

    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;

    background: #fcfcfc;
    background: -moz-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
    background: -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
    background: -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
    background: linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 );

    zoom: 1;
    width: auto;
    min-width: 100px;
    max-width: 280px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #D2D2D2;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 0 0 0 8px;
    vertical-align: middle;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;

    box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee;
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee;
}
.ngSelectBox span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777;
    text-shadow: 0 1px #f5f5f5;
    padding: 0px 32px 0px 2px;
    background: url(images/arrows.png) no-repeat 100%;
    cursor: pointer;
    font-size: 11px;
    height: 28px;
    line-height: 28px;
}
.ngSelectBox select {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 28px;
    width: 100%;

    opacity: 0;
    filter: alpha(opacity:0);

    border: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: solid 1px white;
}