<h1>focusMe <a class='btn btn-default docLink' target='_blank' href='https://github.com/bkuhl/angular-form-ui/tree/master/src/directives/focusMe'>Go to documentation</a></h1>
<div class="row">
    <div class="col col-lg-6">
        <p>Focus an element when the page loads</p>
        <input type="text" focus-me style="width: 150px;"/>
    </div>
    <div class="col col-lg-6">
        <h3>Javascript</h3>
<pre class="prettyprint nocode">
&lt;input type="text" focus-me/&gt;
</pre>
    </div>
</div>
<div disqus="'directives-focus-me'"></div>