<h1>slideToggle <a class='btn btn-default docLink' target='_blank' href='https://github.com/bkuhl/angular-form-ui/tree/master/src/directives/slideToggle'>Go to documentation</a></h1>
<div class="row">
    <div class="col col-lg-6">
        <p>This directive gives developers a fancy way to present users with a yes or no choice.</p>
        <slide-toggle ng-model="slideToggleOnOff"></slide-toggle>
    </div>
    <div class="col col-lg-6">
        <h3>Javascript</h3>
<pre class="prettyprint nocode">
&lt;slide-toggle ng-model="slideToggleOnOff"&gt;&lt;slide-toggle&gt;
</pre>
    </div>
</div>
<h2>Custom Labels</h2>
<div class="row">
    <div class="col col-lg-6">
        <slide-toggle onlabel="Active" offlabel="Inactive" ng-model="slideToggleActiveInactve"><slide-toggle>
    </div>
    <div class="col col-lg-6">
        <h3>Javascript</h3>
<pre class="prettyprint nocode">
&lt;slide-toggle onlabel="Active" offlabel="Inactive" ng-model="slideToggleActiveInactve"&gt;&lt;slide-toggle&gt;
</pre>
    </div>
</div>
<div disqus="'directives-slide-toggle'"></div>